{% block header %}
    <div class="header__container">
        <div class="header__search">
            <input type="text" placeholder="Поиск">
        </div>
        <div class="header__items">
            <ul class="header__items-list">
                <li class="header__items-item"><a href="" class="header__items-link">Каталог</a></li>
                <li class="header__items-item"><a href="" class="header__items-link">О нас</a></li>
                <li class="header__items-item"><a href="" class="header__items-link">Оплата</a></li>
                <li class="header__items-item"><a href="" class="header__items-link">План работы</a></li>
                <li class="header__items-item"><a href="" class="header__items-link">Портфолио</a></li>
            </ul>
        </div>
        <button class="header__button">
            Сделать заказ
        </button>
    </div>
{% endblock %}
