{% block sidebar %}
{% load static %}
    <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="logo">
    </div>
    <ul class="sidebar__items">
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Широкоформатная печать</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Холсты</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Услуги дизайна</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Тиражирование</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Сувениры</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Копировальные услуги</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Услуги дизайна</a></li>
        <li class="sidebar__items-item"><a href="" class="sidebar__items-link">Тиражирование</a></li>
    </ul>
    <div class="contacts">
        <div class="contact__accent">
            <p class="contact__text">Связаться с менеждером</p>
        </div>
        <div class="contact">
            <p class="contact__text">
                Услуги дизайнера
            </p>
        </div>
        <div class="info-links">
            <a href="" class="info-links-link">Доп инфа</a>
            <a href="" class="info-links-link">Еще что то</a>
            <a href="" class="info-links-link">Еще что то</a>
        </div>
    </div>
{% endblock %}