*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background: #EFEFEF;
    position: absolute;
    width: 100%;

}
.header__container{
    display: flex;
    width: 100%;
    padding: 20px;
    padding-right: 52px !important;
    justify-content: end;

}
.header__search input{
    width: 465px;
    height: 42px;
    padding-left: 28px;
    background: none;
    border: 1px solid #27625F;
    border-radius: 5px;
}
.header__search input::placeholder{
    border-radius: 5px;
    font-family: Mulish;
    font-size: 14.98px;
    font-weight: 500;
    line-height: 18.81px;
    text-align: left;
    color: #27625F;

}
.header__items-list{
    padding-left: 95px;
    display: flex;
    list-style-type: none;
}
.header__items-item{
    text-decoration: none;
    padding-left: 35px;
    
}
.header__items-link{
    text-decoration: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 500;
    line-height: 42.08px;
    text-align: center;
    color: #27625F;
}
.header__button{
    background: none;
    width: 205px;
    height: 40px;
    border: 1px solid #27625F;
    border-radius: 8px;
    margin-left: 17px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    color: #27625F;

}
.nav{
    position: absolute;
    background: white;
    max-width: 365px;
    height: 100%;
}

.logo img{
    width: 188px;
}
.sidebar__items{
    display: flex;
}